{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container auth-model card">
    <div class="row">
        <h1 class="d-none">Sign In</h1>
        <div class="col-md-8 mt-3 offset-md-2 text-center">
            <h3>{% trans "Sign In" %}</h3>

            <p> {% blocktrans %}Welcome to <strong>Recipe Manager</strong>. To leave suggestions for the site, please
                log in. <br>
                <em>If you have not created an account yet, then </em><a class="link"
                    href="{{ signup_url }}"><strong>Register</strong></a> <em>first</em>.
                {% endblocktrans %}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 px-3 mt-3 offset-md-2 mb-4">
            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
                {% endif %}
                <button class="btn btn-signup right" type="submit">{% trans "Sign In" %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}