{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">{{ item.title }}</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <img src="{{ item.image.url }}" alt="{{ item.title }}" class="img-fluid rounded">
        </div>
    </div>
    <div class="mt-4">
        <h3>Description</h3>
        <p>{{ item.description|safe }}</p>

        <h4>Ingredients</h4>
        <p>{{ item.ingredients|safe }}</p>

        <h4>Instructions</h4>
        <p>{{ item.instructions|safe }}</p>
    </div>
    <a href="{% url 'home' %}" class="btn btn-primary mt-3">Back to Recipes</a>
</div>
{% endblock %}