{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid w-75">
    <div class="row">
        <div class="col-md-4 offset-md-4 my-3">
            <h1 class="text-center">Recipes</h1>
        </div>
    </div>

    <!-- Add Recipe Button for Logged-in Users -->
    {% if user.is_authenticated %}
    <div class="text-center mb-4">
        <a href="{% url 'add_recipe' %}" class="btn btn-signup">Add New Recipe</a>
    </div>
    {% endif %}

    <!-- Recipe Cards with Pagination -->
    <div class="row">
        {% for item in page_obj %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <a href="{% url 'recipe_detail' item.id %}" class="text-decoration-none text-white">
                    {% if "placeholder" in item.image.url %}
                    <img src="{% static 'images/empty-plate.webp' %}" alt="placeholder-image" class="card-img-top">
                    {% else %}
                    <img src="{{ item.image.url }}" alt="{{ item.title }}" class="card-img-top">
                    {% endif %}

                    <div class="card-body">
                        <h4 class="card-title text-center">{{ item.title }}</h4>
                        <p class="card-text description-text">{{ item.description|safe }}</p>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Pagination Controls -->
    <div class="d-flex justify-content-center">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link btn-signup" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                        <a class="page-link btn-signup" href="?page={{ num }}">{{ num }}</a>
                    </li>
                {% endfor %}

                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link btn-signup" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>

{% endblock %}